main {
    background-color: var(--preto05);
}

.form_login {
    margin: 0 auto;
    text-align: center;
    padding: 7em 1.5em;
    box-sizing: border-box;
}
    @media screen and (max-width: 768px) {
        .form_login{
            padding: 5em 1.5em;
        }
    }

.form_login-title{
    color: var(--preto100);
    font-size: 22px;
    font-weight: 700;
    margin: 30px 0;
}

.form_login-input{
    width: 90%;
    max-width: 400px;
    box-sizing: border-box;
    border: var(--branco100);
    border-radius: 2px;
    box-shadow: 0px 1px 0px var(--preto50);
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: none;
    margin: 10px 0;
    padding: 15px 10px;
}

    .form_login-input::placeholder{
        color: var(--preto50);
    }

    .form_login-input:focus::placeholder{
        opacity: 0%;
    }

.sign-in_button{
    font-family: 'Raleway', sans-serif;
    border: 1px solid var(--azul100);
    color: var(--branco100);
    background-color: var(--azul100);
    font-size: 18px;
    font-weight: 600;
    width: 90%;
    max-width: 400px;
    padding: 15px 10px;
    margin: 30px auto;
}

    .sign-in_button:hover{
        transition: 300ms;
        cursor: pointer;
        background-color: var(--azul80);
        border: 1px solid var(--azul80);
    }
