main {
    background-color: var(--preto05);
}

.product-inFocus{
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 5em 1.5em 0 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
    @media screen and (max-width: 1200px){
        .product-inFocus{
            display: grid;
            grid-template-columns: 1fr 2fr;      
            padding: 3em 1.5em 0 1.5em;   
        }        
    }
    @media screen and (max-width: 768px){
        .product-inFocus{
            padding: 0 0;
            display: block;
        }
    }

.product-inFocus_image{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 4px;
}
    @media screen and (max-width: 1200px){
        .product-inFocus_image{
            height: 15em;
        } 
    }
    @media screen and (max-width: 768px){
        .product-inFocus_image{
            border-radius: 0px;
            height: 18em;
        }
    }


.product-inFocus_textbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.5em;
    color: var(--preto100);
}
    @media screen and (max-width: 768px){
        .product-inFocus_textbox{
            padding: 1.5em 1.5em;
        }
    }

.product-inFocus_title{
    font-size: 52px;
    font-weight: 500;
    padding: 0.25em 0;
}
    @media screen and (max-width: 1200px){
        .product-inFocus_title{
            font-size: 30px;
            font-weight: 600;
        } 
    }
    @media screen and (max-width: 768px){
        .product-inFocus_title{
            font-size: 30px;
            font-weight: 600;
        }
    }

.product-inFocus_price{
    font-size: 18px;
    font-weight: 700;
    padding: 0.75em 0;
}

.product-inFocus_more{
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    line-height: 1.2;
    padding-bottom: 0.25em;
}

.products-section_similar{
    font-size: 32px;
    font-weight: 700;
    color: var(--preto100);
    margin-top: 3em;
}

.products-section_similar_list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-between;
    margin-top: 1.5em;
    gap: 15px;
    padding-bottom: 4em;
}
    @media screen and (max-width: 1200px){
        .products-section_similar_list{
            grid-template-columns: repeat(4, 1fr);
            width: auto;
        }
    }
    @media screen and (max-width: 768px){
        .products-section_similar{
            margin-top: 1em;
        }
        .products-section_similar_list{
            grid-template-columns: repeat(2, 1fr);
            width: auto;
        }
    }
